.container{
    // border: 1px solid #e2d7d7;
    padding: 30px;
    margin-top:30px;
    }
    
    .content{
    border: 1px solid #e2d7d7;
    border-radius: 2%;
    color: #ffffff;
    }
    .header{
    background-color: rgb(202, 197, 197);
    color: #ffffff;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px;
    }
    .body{
    color: #ffffff;
    padding:10px;
    }
    
    .validators{
    color:red;
    }